---
layout: default
permalink: /
description: "Website of Jesse Trippe, a UI/UX Designer who enjoys coding and designing for the web."
title: "Home"
blurb: "Hi, I'm Jesse&mdash;a UI/UX Designer who enjoys coding and designing for the web."
---

<section class="mt-6 mb-32">
  <h2 class="font-bold text-xl mb-16">The work I do</h2>
  <ul class="grid md:grid-cols-3 gap-10 xl:gap-x-24 mb-12">
    <li>
      <div class="mb-6 ">
        {% include ui.svg class="h-48 w-40 fill-current" %}
      </div>
      <h3 class="font-bold mb-6 text-xl">UI Design</h3>
      <p>I build design systems that result in delightful and intuitive experiences that exceeds users' needs and expectations.</p>
    </li>
    <li>
      <div class="mb-6">
        {% include ux.svg class="h-48 w-40 fill-current" %}
      </div>
      <h3 class="font-bold mb-6 text-xl">UX Design</h3>
      <p>I define user flows and deliver meaningful user experiences through prototyping with the goal to fail fast and iterate.</p>
    </li>
    <li>
      <div class="mb-6">
        {% include dev.svg class="h-48 w-40 fill-current" %}
      </div>
      <h3 class="font-bold mb-6 text-xl">Development</h3>
      <p>With a focus on performance and accessibility, I build scalable solutions using current and modern web standards.</p>
    </li>
  </ul>
</section>