<section id="about" class="py-48 px-8 container mx-auto max-w-7xl">
	<div class="flex items-center mb-24 w-full xl:w-10/12" data-reveal data-reveal-from="top" data-reveal-delay="300">
		<h2 class="pr-4 text-5xl font-semibold">A few things about me</h2>
		<div class="flex-1 h-px bg-magenta-700" aria-hidden="true"></div>
	</div>
	<div class="md:flex items-start justify-between">
		<div class="max-w-2xl" data-reveal data-reveal-from="bottom" data-reveal-delay="700">
			<p class="mb-6">Computer dork meets social butterfly. This unique personality of opposites allows me to successfully combine serious work skills while multi-tasking with style and ease. Combine the diplomacy of Madeline Albright with the humanitarian vision of President Jimmy Carter and add the flexibility of Spider-Man and you've got me.</p>
			<p class="mb-6">You've heard it all before&mdash;a young guy with small town Michigan roots moves to the big city to chase his dreams and mostly finds jobs stuffing envelopes and foaming lattes. So I hit the books and keyboard at The School of the Art Institute of Chicago for a BA in Fine Arts, and now I design and redesign in my sleep.</p>
			<p class="mb-6">I taught myself HTML & CSS, applied my knowledge to front-end web design and fell in love with building websites. After years of freelance work and a brief period with the Obama Reelection Campaign, I joined Coyote Logistics in 2011 and eventually grew into Lead Product Designer, building a massive web app and several mobile apps for Coyote's customer's.</p>
			<p>In 2016 I joined Amazon in Seattle, WA, designing delivery tools for drivers and partner companies.</p>
		</div>
		<img loading="lazy" data-reveal data-reveal-from="bottom" data-reveal-delay="500" src="/images/avatar.jpg" alt="Jesse Trippe" class="rounded w-1/2 mx-auto mt-12 md:w-1/4 md:mt-0 md:ml-12 md:mr-0" height="400" width="400">
	</div>
</section>
