<footer id="contact" class="py-48 px-8 text-center border-magenta-500 border-b-12" data-reveal data-reveal-from="bottom" data-reveal-delay="500">
	<h1 class="text-7xl font-bold mb-8 text-gradient">Get In Touch</h1>
	<p class="mx-auto max-w-2xl mb-12 text-xl">Although I'm not currently looking for freelance opportunities, my inbox is always open. Whether for a potential project or just to say hi, I'll try my best to answer your email!</p>
	<button data-clipboard-content="jesse@jessetrippe.com" class="border-2 border-magenta-500 text-magenta-500 hover:bg-magenta-500 hover:text-magenta-black font-semibold rounded py-4 px-8 transition duration-150 relative select-none focus:outline-none inline-flex items-center">{% include /vectors/icon-mail.svg class="mr-2 h-5 w-5" %} Say hello</button>
</footer>
