<header id="home" class="py-24 lg:py-32 xl:py-40 px-8 bg-illuminating-500 -mx-8 overflow-hidden dark:bg-illuminating-500">
	<div class="container mx-auto max-w-7xl">
		<h2 class="text-3xl" data-reveal data-reveal-from="top" data-reveal-delay="800">Nice to meet you!</h2>
		<h2 class="text-9xl font-bold leading-tight mb-12" data-reveal data-reveal-from="top" data-reveal-delay="800">I'm Jesse Trippe.</h2>
		<p class="text-3xl mb-16 md:w-9/12 lg:w-8/12 xl:w-7/12 leading-normal" data-reveal data-reveal-from="top" data-reveal-delay="900">I'm a UX Designer building and designing websites, complex web applications, and large-scale platforms based in Seattle, WA.</p>
		<p class="" data-reveal data-reveal-from="top" data-reveal-delay="1000">
	    	<button class="border-2 border-gray-900 hover:bg-gray-900 hover:text-illuminating-500 font-semibold rounded py-4 px-6 transition duration-150 relative select-none focus:outline-none inline-flex items-center" data-clipboard-content="jesse@jessetrippe.com">{% include /vectors/icon-mail.svg class="mr-2 h-5 w-5" %} Get in touch</button>
	    </p>
	</div>
</header>
