<header id="home" class="min-h-screen py-32 px-8 flex flex-col justify-center container mx-auto max-w-7xl">
	<h2 class="text-2xl" data-reveal data-reveal-from="bottom" data-reveal-delay="800">Nice to meet you!</h2>
	<h2 class="text-7xl font-bold leading-tight mb-12 text-gradient" data-reveal data-reveal-from="bottom" data-reveal-delay="800">I'm Jesse Trippe.</h2>
	<p class="text-2xl mt-0 mb-12 md:w-9/12 lg:w-8/12 xl:w-7/12" data-reveal data-reveal-from="bottom" data-reveal-delay="900">I'm a UX Designer building and designing phenomenal websites, complex web applications, and large-scale platforms based in Seattle, WA.</p>
	<p class="pt-3 m-0" data-reveal data-reveal-from="bottom" data-reveal-delay="1000">
    	<button class="border-2 border-magenta-500 text-magenta-500 hover:bg-magenta-500 hover:text-magenta-black font-semibold rounded py-4 px-6 transition duration-150 relative select-none focus:outline-none" data-clipboard-content="jesse@jessetrippe.com">Get in touch</button>
    </p>
</header>
