<header class="flex justify-between py-5 px-8 items-center fixed z-20 top-0 inset-x-0 bg-magenta-black border-magenta-500 border-t-16" role="banner">
    <a class="text-2xl font-medium animated-underline relative" href="/#"  data-reveal="">Jesse Trippe</a>
    <button id="nav-toggle" data-toggle="menu" class="flex lg:hidden items-center border-2 border-magenta-500 text-magenta-500 hover:bg-magenta-500 hover:text-magenta-black font-semibold rounded py-2 px-3 transition duration-150" aria-expanded="false">
        {% include vectors/icon-hamburger.svg class="w-5 h-5 fill-current" %}
    </button>
    <nav id="menu" class="hidden flex lg:flex bg-magenta-black fixed inset-0 z-10 lg:static">
        <button id="nav-close" data-toggle="menu" class="p-3 fixed top-0 right-0 lg:hidden">
            {% include vectors/icon-menu-close-thin.svg class="w-10 h-10 fill-current filter-shadow" %}
        </button>
        <div class="flex flex-col lg:flex-row lg:text-lg justify-center items-center w-full text-4xl">
            <a data-close="menu" class="animated-underline relative block py-1 lg:mr-8" href="/#experience" data-reveal="" data-reveal-from="top" data-reveal-delay="100">Experience</a>
            <a data-close="menu" class="animated-underline relative block py-1 lg:mr-8" href="/#work" data-reveal="" data-reveal-from="top" data-reveal-delay="200">Work</a>
            <a data-close="menu" class="animated-underline relative block py-1 lg:mr-8" href="/#about" data-reveal="" data-reveal-from="top" data-reveal-delay="300">About</a>
            <a data-close="menu" class="animated-underline relative block py-1 lg:mr-8" href="/#contact" data-reveal="" data-reveal-from="top" data-reveal-delay="400">Contact</a>
            <a data-close="menu" class="mt-8 lg:mt-0 border-2 border-magenta-500 text-magenta-500 hover:bg-magenta-500 hover:text-magenta-black font-semibold rounded transition duration-150 inline-block text-base lg:py-3 lg:px-5 lg:text-sm py-4 px-6" href="/jesse-trippe-resume.pdf" download  data-reveal="" data-reveal-from="top" data-reveal-delay="500">Resume</a>
        </div>
    </nav>
</header>
