
{% for work_item in site.work_items %}
    {% if work_item.title == page.title %}
        {% assign item_index = forloop.index %}
    {% endif %}
{% endfor %}

{% assign prev_index = item_index | plus: 1 %}
{% assign next_index = item_index | minus: 1 %}

{% for work_item in site.work_items %}
    {% if forloop.index == prev_index %}
        {% assign prev = work_item %}
    {% endif %}
    {% if forloop.index == next_index %}
        {% assign next = work_item %}
    {% endif %}
{% endfor %}

<nav class="py-16 mt-20 flex leading-6 font-medium border-t-2 border-illuminating-500">
    {% if next %}
        <a class="relative group flex mr-8 pb-1" href="{{ next.url }}">
            <span aria-hidden="true" class="mr-2">&larr;</span>
            Previous Project
            <span class="absolute bottom-0 h-0.5 w-0 block bg-illuminating-500 group-hover:w-full transition-all duration-150 invisible group-hover:visible" aria-hidden="true"></span>
        </a>
    {% endif %}
    {% if prev %}
        <a class="relative group flex text-right ml-auto pb-1" href="{{ prev.url }}">
            Next Project
            <span aria-hidden="true" class="ml-2">&rarr;</span>
            <span class="absolute bottom-0 h-0.5 w-0 block bg-illuminating-500 group-hover:w-full transition-all duration-150 invisible group-hover:visible" aria-hidden="true"></span>
        </a>
    {% endif %}
</nav>
