
@keyframes tada {
	from {
		transform: scale3d(1, 1, 1);
	}

	10%,
	20% {
		transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
	}

	30%,
	50%,
	70%,
	90% {
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
	}

	40%,
	60%,
	80% {
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}

.tada {
	animation-name: tada;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

[data-reveal] {
	animation-name: fadeIn;
}

@keyframes fadeInDown {
	from {
		opacity: 0;
		transform: translate3d(0, -2rem, 0);
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

[data-reveal][data-reveal-from="top"] {
	animation-name: fadeInDown;
}

@keyframes fadeInLeft {
	from {
		opacity: 0;
		transform: translate3d(-2rem, 0, 0);
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

[data-reveal][data-reveal-from="left"] {
	animation-name: fadeInLeft;
}

@keyframes fadeInRight {
	from {
		opacity: 0;
		transform: translate3d(2rem, 0, 0);
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

[data-reveal][data-reveal-from="right"] {
	animation-name: fadeInRight;
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translate3d(0, 2rem, 0);
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

[data-reveal][data-reveal-from="bottom"] {
	animation-name: fadeInUp;
}

[data-reveal] {
	animation-duration: 1s;
	animation-fill-mode: both;
}

[data-reveal-delay="100"] {
	animation-delay: 100ms;
}

[data-reveal-delay="200"] {
	animation-delay: 200ms;
}

[data-reveal-delay="300"] {
	animation-delay: 300ms;
}

[data-reveal-delay="400"] {
	animation-delay: 400ms;
}

[data-reveal-delay="500"] {
	animation-delay: 500ms;
}

[data-reveal-delay="600"] {
	animation-delay: 600ms;
}

[data-reveal-delay="700"] {
	animation-delay: 700ms;
}

[data-reveal-delay="800"] {
	animation-delay: 800ms;
}

[data-reveal-delay="900"] {
	animation-delay: 900ms;
}

[data-reveal-delay="1000"] {
	animation-delay: 1000ms;
}

[data-reveal-delay="1500"] {
	animation-delay: 1500ms;
}

[data-reveal-delay="2000"] {
	animation-delay: 2000ms;
}

@media (print), (prefers-reduced-motion: reduce) {
	[data-will-reveal="true"] {
		animation-duration: 1ms !important;
		transition-duration: 1ms !important;
		animation-iteration-count: 1 !important;
	}
}
